:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
    --black-background-text-color:#FFFFFF;
    --logo-text-color:#000000;    
    --primary-background: rgba(0, 0, 0, 0,25);
    --secondary-background:#ECECEC;
    --black-background:#2F303A;
    --blue-background:#2196F3;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;}

h1,
h2,
h3,
h4,
h5,
p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo {
    color: var(--logo-text-color);
    font-style: 700;
    font-size: 26px;
    line-height: 1.24;
    font: raleway;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

ul,
ol{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

img{
    display: block;
}

/* ================================header============================================= */
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto 0px;   
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px  #ECECEC;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-list{
    display: flex;
    justify-content: space-between;
}
.logo-link {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--logo-text-color);
    margin-right: 94px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.span-logo {    
    color: var(--accent-text-color);
}

.menu {
    color: var(--primary-text-color);

}

.menu-list {
    font-family: Roboto;
    font-style: normal; 
    font-size: 14px;
    font-weight: 500;    
    line-height: 1.14;
    color: var(--primary-text-color);
}
 .menu-list:not(:last-child){
     margin-right: 50px;
 }

.menu-list :hover,
.menu-list :focus {
    color: var(--accent-text-color);
}

.contacts-list {
    font-family: Roboto;
    font-style: normal; 
    font-size: 14px;
    font-weight: 500;    
    line-height: 1.14;
    color: var(--secondary-text-color);
}

.contacts-list :hover,
.contacts-list :focus {
    color: var(--accent-text-color);
}

.contacts-list:not(:last-child){
    margin-right: 50px;
}

.link-current{
    color: var(--accent-text-color);
}


/* =======================================hero============================================ */
.hero{
    background-color: var(--black-background);
    padding-bottom: 94px;   

}
.section-hero {
    font-family: Roboto;    
    font-size: 44px;
    font-weight: 900;    
    line-height: 1.36;
    color: var(--black-background-text-color);       
    max-width: 696px;    
    text-align: center;
    text-transform: uppercase;  
    margin: 0px auto; 
    margin-bottom: 30px;
}

.hero-btn {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    color: var(--black-background-text-color);
    background: var(--blue-background);
    box-shadow: 0px 0px 4px rgba(0, 0, 0,  0.15);
    border-radius: 4px;  
    border: #000000; 
    height: 50px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0px auto;

}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
}

.hero-btn {
    cursor: pointer;
}

/* ========================peculiarities====================================== */

.section-pec{
    display: flex;      
}

/* .section-pec > .section-pec-header{
    width: 270px;
} */
.section-pec-list{
    width: 270px;
}

.section-pec-list:not(:last-child){
    margin-right: 30px;
}
.section-pec-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    margin-top: 94px;
    margin-bottom: 10px;
}

.section-pec-par {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color:var(--secondary-text-color);    
    margin-bottom: 94px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--primary-text-color);
}
.peculiarities-title{
    margin-top: 94px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
/* ============================we-do=============================================== */

.we-do-section{
    padding-bottom: 94px;
}

.we-do-list{
    display: flex;      
}

.we-do-list-item:not(:last-child){
    margin-right: 30px;
}

.we-do-list-item{
    width: 370px;
}

.we-do-title{
    margin-bottom: 50px;
    text-align: center;}


/* ===========================our-team============================================= */

.our-team-section{
    padding-top: 94px;
    padding-bottom: 90px;
    background-color: #F5F4FA;
}
.section-title-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--primary-text-color);
    text-align: center; 
    margin-top: 30px;    
    margin-bottom: 10px;
}
.section-par-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: var(--secondary-text-color);
    text-align: center; 
    padding-bottom: 30px;  
}

.our-team-title{
    padding-bottom: 50px;
    padding-top: 94px;   
    text-align: center;
}

.our-team-subtitle{
    padding: 30px auto;
}

.our-team-list{
    display: flex;
}

.our-team-list-item{
    width: 270px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0,  0.12),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 2px 1px 0px  rgba(0, 0, 0, 0.20);
}

.our-team-list-item:not(:last-child){
    margin-right: 30px;
}


/* ==============================footer=============================================== */
.footer-section{
    background-color:var(--black-background);
    color: var(--black-background-text-color);
}

.footer-list{
    padding-bottom: 56px;
    padding-right: 230px;
}

.logo-link-footer{
    margin-bottom: 20px;
    padding-top: 64px;
    padding-right: 230px;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    color: var(--logo-text-color);    
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--black-background-text-color);
    font-style: normal;  

}

.footer-list-item:not(:last-child){
    margin-bottom: 8px;
}


.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    
}

.footer-address:hover,
.footer-address:focus{
    color: var(--accent-text-color);
}

.address:hover,
.address:focus{
    color: var(--accent-text-color);
}

.span-logo-footer {
    color: var(--black-background-text-color);
}


/* =======================portfolio-main================================================================ */
.project-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    } 
    
.portfolio {
    width: 1170px;
    height: 1360px;   
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.73;
    text-align: 1.73;
    color: var(--primary-text-color);
    background: #f5f4fa;
    box-shadow: 0px 0px 4px rgba(0, 0, 0,  0.15);
    border-radius: 4px; 
    padding: 6px 22px; 
    border: #f5f4fa;  
    cursor: pointer;
}

.portfolio-btn-all{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.73;
    text-align: 1.73;
    color: var(--black-background-text-color);
    background-color: var(--blue-background);
    box-shadow: 0px 0px 4px rgba(0, 0, 0,  0.15);
    border-radius: 4px; 
    padding: 6px 22px; 
    border: #f5f4fa;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--black-background-text-color);
    background-color: var(--blue-background);
}

.portfolio-list{
    display: block;
}

.portfolio-list-item{
    margin-bottom: 30px;
    /* border: #eeeeee solid 0.5px; */
}

.portfolio-list-item:nth-child(3n+1){
    margin-right: 30px;
}

.portfolio-list-item:nth-last-child(-n+3){
    margin-bottom: 100px;
}


.portfolio-project-par{
    padding: 4px 24px 20px;
    text-align: left;
}

.our-projects-btn-list{
    display: flex;
    justify-content: center;       
    margin-bottom: 34px;       

}
.our-projects-btn-list>:not(:last-child){
    margin-right: 8px;
}


.portfolio-list-title {  
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    padding: 20px 24px 4px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.portfolio-list-item{
    width: 370px;
}


.portfolio-list-item:not(:nth-child(3n)){
    margin-right: 30px;
    margin-bottom: 30px;
}

    
    
    






















    /* current page */    
    .nav .link-current{
        color: var(--logo-text-color);
    }









   

    
   





    













